<div class="navbar-lewagon">
  <a href="#">
    <img src="http://dthsg.com/img/header-logo.svg" class="brand">
  </a>

  <!-- displayed on laptops -->
  <div class="navbar-lewagon-actions d-none d-sm-flex">
    <a href="/" class="navbar-lewagon-link">Welcome</a>
    <a href="/view" class="navbar-lewagon-link">Saved Data</a>
    <div class="badge-container">
      <a href="/form" class="navbar-lewagon-link">Submit Data</a>
    </div>
    <div class="dropdown">
      <img src='https://media.licdn.com/dms/image/C4D03AQE6Q1Yr3okV4A/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=EQV29aIQ7cbkJ3vijcihwT_i6KeFaAPb05bCyyBRvyA' class="avatar dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#"><i class="fas fa-user"></i> Account</a>
          <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i> Settings</a>
          <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Log out</a>
        </div>
     </div>
  </div>

  <!-- displayed on phone / tablet -->
  <div class="navbar-lewagon-actions d-block d-sm-none">
    <div class="dropdown">
      <i class="fas fa-bars" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a href="#" class="dropdown-item"><i class="fas fa-home"></i> Browse flats</a>
        <a href="#" class="dropdown-item"><i class="fas fa-comments"></i> Messages <span class="badge badge-pill badge-secondary text-white">5</span></a>
        <a class="dropdown-item" href="#"><i class="fas fa-user"></i> Account</a>
        <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i> Settings</a>
        <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Log out</a>
      </div>
    </div>
  </div>
</div>
