<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/submit" method="post">
      <input type="text" name="name" value="" placeholder="name">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
